@model Movies

<h2>Create a New Movie</h2>

@using (Html.BeginForm("AddMovieToDb", "Movies", "Post"))
{
    <input asp-for="movie_id" type="hidden" value="" />

    <label asp-for="title" class="control-label">title</label>
    <input type="text" name="title" class="form-control" value="" />
    
    <label asp-for="genre" class="control-label">genre</label>
    <input type="text" name="genre" class="form-control" value="" />


    
    <label asp-for="release_year" class="control-label">release_year</label>
    <input type="number" step="0.01" name="release_year" class="form-control" />

    <label asp-for="director" class="control-label">director</label>
    <input type="text" name="director" class="form-control" value="" />

    <input type="submit" value="Create Product" class="btn btn-primary" />
}