@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to my Movie Page</h1>
    
       
    
    <p>Check out my MVC project. <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>



@*<style>
    body {
        background-image: url(C:\Users\Michael\Desktop\repos\MyMovieDb\MyMovieDb\wwwroot\images\american-movie-posters-z0puq43u0qbtr6j2.jpg);
        background-repeat: no-repeat;
        background-size: cover;
    }
</style>*@
